# K-means Modeling

### Contents

- [Import Packages & Data](#Import-Packages-&-Data)
- [Preprocess Text](#Preprocess-Text)
- [Train Test Split](#Train-Test-Split)

### Import Packages & Data

In [16]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split

In [2]:
# reading in data
data = pd.read_csv('./data/processed_data.csv')

In [3]:
# calling .head
data.head()

,reviewerID,asin,reviewText,int_reviewerID,int_asin,reviewText_processed
0,A1D4G1SNUZWQOT,7106116521,exactly what i needed,1705385300413037995,-2353527134216546931,"['exactly', 'needed']"
1,A3DDWDH9PX2YX2,7106116521,i agree with the other review the opening is t...,5561379548298860475,-2353527134216546931,"['agree', 'review', 'opening', 'small', 'almos..."
2,A2MWC41EW7XL15,7106116521,love these i am going to order another pack to...,3310565570865106017,-2353527134216546931,"['love', 'going', 'order', 'another', 'pack', ..."
3,A2UH2QQ275NV45,7106116521,too tiny an opening,-5293977400703050919,-2353527134216546931,"['tiny', 'opening']"
4,A89F3LQADZBS5,7106116521,okay,-5397713386084954674,-2353527134216546931,['okay']

In [4]:
# checking for nulls 
data.isnull().sum()

reviewerID                0
asin                      0
reviewText              249
int_reviewerID            0
int_asin                  0
reviewText_processed      0
dtype: int64

In [5]:
# dropping any columns with no ReviewText
data.dropna(subset = ['reviewText'], inplace = True)

To create a baseline K-means clustering model we will need to process the `reviewText` column with a TFIDF vectorizer to feed into the clustering algorithm.

In [9]:

# insta our instance of Tfidf with our parameters 
tfidf = TfidfVectorizer( max_df=0.5,  # trying to replicate same preprocessing done before LDA 
                        min_df = 20,   # must be in atleast 20 documents and no more than 50% 
                        ngram_range= (1,2), # uni-grams and bi-grams
                        stop_words='english')  # english stopwords

# creating the SparseDataFrame to hold our 
text_df= tfidf.fit_transform(data['reviewText'])

In [12]:
data[vec_col] = list(text_df.toarray())

In [13]:
data.head()

,reviewerID,asin,reviewText,int_reviewerID,int_asin,reviewText_processed,00
0,A1D4G1SNUZWQOT,7106116521,exactly what i needed,1705385300413037995,-2353527134216546931,"['exactly', 'needed']","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
1,A3DDWDH9PX2YX2,7106116521,i agree with the other review the opening is t...,5561379548298860475,-2353527134216546931,"['agree', 'review', 'opening', 'small', 'almos...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
2,A2MWC41EW7XL15,7106116521,love these i am going to order another pack to...,3310565570865106017,-2353527134216546931,"['love', 'going', 'order', 'another', 'pack', ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
3,A2UH2QQ275NV45,7106116521,too tiny an opening,-5293977400703050919,-2353527134216546931,"['tiny', 'opening']","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
4,A89F3LQADZBS5,7106116521,okay,-5397713386084954674,-2353527134216546931,['okay'],"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."

In [ ]:
combined_df = pd.concat([data, df_text], axis = 1 )

In [17]:
features = data.drop(columns = ['reviewText', 'reviewerID', 'reviewText_processed'])
X = features
y = data['asin']
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size =.70, random_state = 42, stratify = y)

ValueError: The least populated class in y has only 1 member, which is too few. The minimum number of groups for any class cannot be less than 2.